PORT=5000
NODE_ENV=DEVELOPMENT

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=false
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres
DB_NAME=backend_template
DB_USER=postgres
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRE_IN=1d
REFRESH_TOKEN_EXPIRE_IN=7

FRONTEND_URL=http://localhost:3000
CORS=http://localhost:3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

LOG_LEVEL=info
